<!DOCTYPE html>
<html class="no-js" ng-app="boodschap">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">

	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

	<!-- Angular -->
	<script src="js/vendor/angular.js"></script>
	<script src="js/boodschap.js"></script>
</head>

<body ng-controller="productsController">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Boodschap</a>
			</div>
			<span class="total-price pull-right">{{ sum }}€</span>
		</div>
	</div>

	<div class="container products">
		<!-- Example row of columns -->
		<div class="row">
			<!-- Product panels -->
			<div class="col-md-4 product" ng-repeat="product in products">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" ng-if="product.name.length>0">{{ product.name }}</h3>
						<h3 class="panel-title" ng-if="product.name.length==0"><input ng-model="product.name" style="width: 100%;" ng-model-onblur/></h3>
					</div>
					<div class="panel-body">
						<img src="http://lorempixel.com/360/240/" class="prod-img" />
						<br/>
						<br/>
						<div class="btn-group" ng-if="product.price>=0">
							<div class="btn btn-primary prod-price">{{ product.price }}€</div>
							<div class="btn btn-default prod-price-total" ng-if="product.amount>1">{{ product.price * product.amount }}€</div>
						</div>
						<div class="btn-group" ng-if="product.price<0">
							<div class="btn btn-primary prod-price"><input ng-model="product.price" size=4 ng-model-onblur/>€</div>
						</div>

						<div class="btn-group pull-right">
							<div class="btn btn-primary prod-amount-plus" ng-click="decrement(product)">-</div>
							<div class="btn btn-primary prod-amount">{{ product.amount }}</div>
							<div class="btn btn-primary prod-amount-plus" ng-click="increment(product)">+</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Add product panel -->
			<div class="col-md-4 product">
				<div class="panel panel-default panel-plus" ng-click="products.push({'name':'','amount':1, 'price':-1})">
					<div class="panel-body">
						<span class="glyphicon glyphicon-plus panel-add-plus"></span>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<footer>
			<p>&copy; Stephan Heijl, 2014</p>
		</footer>
	</div>
	<!-- /container -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
	</script>

	<script src="js/vendor/bootstrap.min.js"></script>

	<script src="js/main.js"></script>
</body>

</html>
